<article class="prose prose-zinc">
  <header>
    <h1>
      🔨 What I'm doing now
    </h1>
  </header>
  <p>
    Currently I am:
  </p>
  <ul>
    <li>
      Training to ride the <.link href="https://www.bcepic1000.com/" rel="noreferrer" target="_blank" >BC Epic</.link>
    </li>
    <li>
      Trying to keep a regular cadence to personal project contributions
    </li>
    <li>
      Leaning into enjoying yoga 🧘‍♂️
    </li>
    <li>
      Learning how to ride motorbikes
    </li>
  </ul>
  <p class="not-prose text-sm leading-normal text-zinc-600">
    Updated Jan 13, 2024
  </p>
</article>
