/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@plugin "@tailwindcss/typography";

@source "../css";
@source "../js";
@source "../../lib/samuel_willis_web";

@config "../tailwind.config.js";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
    themes: false;
}

@plugin "../vendor/daisyui-theme" {
    name: "lofidark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(12% 0 0);
    --color-base-200: oklch(18% 0 0);
    --color-base-300: oklch(24% 0 0);
    --color-base-content: oklch(95% 0 0);
    --color-primary: oklch(84.094% 0 0);
    --color-primary-content: oklch(0% 0 0);
    --color-secondary: oklch(78.545% 0.001 17.278);
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: oklch(73.139% 0 0);
    --color-accent-content: oklch(0% 0 0);
    --color-neutral: oklch(100% 0 0);
    --color-neutral-content: oklch(0% 0 0);
    --color-info: oklch(79.54% 0.103 205.9);
    --color-info-content: oklch(15.908% 0.02 205.9);
    --color-success: oklch(90.13% 0.153 164.14);
    --color-success-content: oklch(18.026% 0.03 164.14);
    --color-warning: oklch(88.37% 0.135 79.94);
    --color-warning-content: oklch(17.674% 0.027 79.94);
    --color-error: oklch(78.66% 0.15 28.47);
    --color-error-content: oklch(15.732% 0.03 28.47);
    --radius-selector: 2rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "../vendor/daisyui-theme" {
    name: "lofi";
    default: true;
    prefersdark: false;
    color-scheme: "light";
}


@plugin "../vendor/daisyui-theme" {
  name: "forest";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(20.84% 0.008 17.911);
  --color-base-200: oklch(18.522% 0.007 17.911);
  --color-base-300: oklch(16.203% 0.007 17.911);
  --color-base-content: oklch(83.768% 0.001 17.911);
  --color-primary: oklch(68.628% 0.185 148.958);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(69.776% 0.135 168.327);
  --color-secondary-content: oklch(13.955% 0.027 168.327);
  --color-accent: oklch(70.628% 0.119 185.713);
  --color-accent-content: oklch(14.125% 0.023 185.713);
  --color-neutral: oklch(30.698% 0.039 171.364);
  --color-neutral-content: oklch(86.139% 0.007 171.364);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=lofidark], [data-theme=lofidark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session],
[data-phx-teleported-src] {
    display: contents;
}

/* This file is for your main application CSS */

@theme {
    --animate-single-spin: single-spin 1s linear 1;
    @keyframes single-spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.makeup .hll {background-color: #49483e}
.makeup {color: #f8f8f2; background-color: var(--tw-zinc-800)}.makeup .unselectable {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}
.makeup .bp {color: #f8f8f2; } /* :name_builtin_pseudo */
.makeup .c {color: #75715e; } /* :comment */
.makeup .c1 {color: #75715e; } /* :comment_single */
.makeup .ch {color: #75715e; } /* :comment_hashbang */
.makeup .cm {color: #75715e; } /* :comment_multiline */
.makeup .cp {color: #75715e; } /* :comment_preproc */
.makeup .cpf {color: #75715e; } /* :comment_preproc_file */
.makeup .cs {color: #75715e; } /* :comment_special */
.makeup .dl {color: #e6db74; } /* :string_delimiter */
.makeup .err {color: #960050; background-color: #1e0010; } /* :error */
.makeup .fm {color: #a6e22e; } /* :name_function_magic */
.makeup .gd {color: #f92672; } /* :generic_deleted */
.makeup .ge {font-style: italic; } /* :generic_emph */
.makeup .gi {color: #a6e22e; } /* :generic_inserted */
.makeup .gs {font-weight: bold; } /* :generic_strong */
.makeup .gu {color: #75715e; } /* :generic_subheading */
.makeup .il {color: #ae81ff; } /* :number_integer_long */
.makeup .k {color: #66d9ef; } /* :keyword */
.makeup .kc {color: #66d9ef; } /* :keyword_constant */
.makeup .kd {color: #66d9ef; } /* :keyword_declaration */
.makeup .kn {color: #f92672; } /* :keyword_namespace */
.makeup .kp {color: #66d9ef; } /* :keyword_pseudo */
.makeup .kr {color: #66d9ef; } /* :keyword_reserved */
.makeup .kt {color: #66d9ef; } /* :keyword_type */
.makeup .l {color: #ae81ff; } /* :literal */
.makeup .ld {color: #ae81ff; } /* :literal_date */
.makeup .m {color: #ae81ff; } /* :number */
.makeup .mb {color: #ae81ff; } /* :number_bin */
.makeup .mf {color: #ae81ff; } /* :number_float */
.makeup .mh {color: #ae81ff; } /* :number_hex */
.makeup .mi {color: #ae81ff; } /* :number_integer */
.makeup .mo {color: #ae81ff; } /* :number_oct */
.makeup .n {color: #f8f8f2; } /* :name */
.makeup .na {color: #a6e22e; } /* :name_attribute */
.makeup .nb {color: #f8f8f2; } /* :name_builtin */
.makeup .nc {color: #a6e22e; } /* :name_class */
.makeup .nd {color: #a6e22e; } /* :name_decorator */
.makeup .ne {color: #a6e22e; } /* :name_exception */
.makeup .nf {color: #a6e22e; } /* :name_function */
.makeup .ni {color: #f8f8f2; } /* :name_entity */
.makeup .nl {color: #f8f8f2; } /* :name_label */
.makeup .nn {color: #f8f8f2; } /* :name_namespace */
.makeup .no {color: #66d9ef; } /* :name_constant */
.makeup .nt {color: #f92672; } /* :name_tag */
.makeup .nv {color: #f8f8f2; } /* :name_variable */
.makeup .nx {color: #a6e22e; } /* :name_other */
.makeup .o {color: #f92672; } /* :operator */
.makeup .ow {color: #f92672; } /* :operator_word */
.makeup .p {color: #f8f8f2; } /* :punctuation */
.makeup .py {color: #f8f8f2; } /* :name_property */
.makeup .s {color: #e6db74; } /* :string */
.makeup .s1 {color: #e6db74; } /* :string_single */
.makeup .s2 {color: #e6db74; } /* :string_double */
.makeup .sa {color: #e6db74; } /* :string_affix */
.makeup .sb {color: #e6db74; } /* :string_backtick */
.makeup .sc {color: #e6db74; } /* :string_char */
.makeup .sd {color: #e6db74; } /* :string_doc */
.makeup .se {color: #ae81ff; } /* :string_escape */
.makeup .sh {color: #e6db74; } /* :string_heredoc */
.makeup .si {color: #e6db74; } /* :string_interpol */
.makeup .sr {color: #e6db74; } /* :string_regex */
.makeup .ss {color: #e6db74; } /* :string_symbol */
.makeup .sx {color: #e6db74; } /* :string_other */
.makeup .sx {color: #e6db74; } /* :string_sigil */
.makeup .vc {color: #f8f8f2; } /* :name_variable_class */
.makeup .vg {color: #f8f8f2; } /* :name_variable_global */
.makeup .vi {color: #f8f8f2; } /* :name_variable_instance */
.makeup .vm {color: #f8f8f2; } /* :name_variable_magic */

