<article class="prose prose-zinc">
  <header>
    <h1><%= @article.title %></h1>
    <p class="not-prose text-sm leading-normal text-zinc-600">
      <%= @article.description %>
    </p>
  </header>

  <%= raw(@article.body) %>
</article>
